<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AspnetDbConnString" connectionString="Data Source=115.28.5.84,1477;Initial Catalog=TygaSoftAspnetDb;User ID=283335746;Password=tyga@2016" providerName="System.Data.SqlClient"/>
    <add name="AfdDbConnString" connectionString="Data Source=115.28.5.84,1477;Initial Catalog=AfdDb;User ID=283335746;Password=tyga@2016" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="TygaSoft.SqlServerDAL"/>

    <!-- Msmq -->
    <add key="MsmqMessaging" value="TygaSoft.MsmqMessaging"/>
    <add key="AfdRunQueue" value=".\private$\AfdRunQueue"/>

    <!-- Batch Processing options -->
    <add key="ThreadCount" value="1" />
    <add key="BatchSize" value="10" />
    <add key="QueueTimeout" value="20" />
    <add key="TransactionTimeout" value="30" />
    <add key="StockWarningTimer" value="300" />

    <!--地图-->
    <add key="BaiduMapAk" value="kiG3dTKWMSW4FGoNh7C7I9ulFevZwiV9"/>

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>